@import '../../styles/settings.scss';

.card {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  button:nth-child(2) {
    opacity: .7;
  }

  button:nth-child(2):hover {
    opacity: 1;
    transition: $transition;
  }

  button:nth-child(1):hover {
    color: $color-warning;
    transition: $transition;
  }
}

button {
  border: none;
  background: none;
  color: $color-dark;
  cursor: pointer;
}

.isFavorite {
  color: $color-warning;
}